#text-intro{
    width: 60%;
    margin-top: 20px;
    p{
      text-align: center;
    }
    #wdyk{
      display: flex;      
      margin: auto;
      margin-top: 15px;
      margin-bottom: 15px;
    }
}